<% layout('layouts/boilerplate') %>
    <div class="row">
        <h1 class="text-center"> New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" class="needs-validation" enctype="multipart/form-data" novalidate>
                <div class="mb-3">
                    <label class="form-label text-light" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        The field above can't be empty
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        The field above can't be empty
                    </div>
                </div>
                <label class="form-label text-light" for="image">Upload Image(s)</label>
                <div class="input-group mb-3">
                    <input type="file" class="form-control" name="campground[images]" id="image" multiple>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        The field above can't be empty
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="description">Description</label>
                    <textarea class="form-control" type="text" name="campground[description]" id="description"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        The field above can't be empty
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label text-light" for="price">Campground Price</label>
                    <div class="input-group">
                        <span class="input-group-text">$</span>
                        <input type="number" class="form-control" placeholder="0.00" name="campground[price]" id="price"
                            aria-label="price" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            The field above can't be empty
                        </div>
                    </div>
                </div>
                <div class="mb-5 d-flex justify-content-center">
                    <button class="btn btn-success w-50">Add Campground</button>
                </div>
            </form>
        </div>
    </div>